body, html {
    height: 100%;
}

body {
    background-image: url(images/abstract.jpg);
    background-position: center;
    background-size: cover;

}

h1, h4, h6, #buttonArea {
    color: whitesmoke;
}

#header {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 50px;
}

#buttonArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gifArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}